.Page-logo {
  height: 40vmin;
}

.Page-header {
  background-color: rgb(229, 217, 158);
  min-height: 80vh;  
  align-items: center;
  justify-content: center;  
  color: black;
}

.Footer {
  flex-shrink: none;
}
.overflow {
  max-height: 70vh;  
  overflow-y: auto;
}